/*
Overall editor layout
*/

@charset "UTF-8";

/* Docked header */

body > header {
	position:absolute !important;
	top:0; right:0; left:0;
}

body > header h1 {
	right: 600px;
}

/* Docked content area */

body #content {
	position:absolute;
	top:70px; right:0; bottom:0; left:0;
	margin:0;
	
	border-radius:10px 10px 0 0;
}

body #content > section {
	position:absolute;
	top:10px; right:10px; bottom:0; left:10px;
	padding: 0;
	overflow-x:hidden;
	overflow-y:auto;
	border-bottom-style:none;
}

/* Container for sections of variable lengths */

#section_container
{
	position: relative;
	min-height: 100%;
	padding: 0 5px;
}

/* GENERAL STYLES */
[data-include-before]:before {
	content: attr(data-include-before);
}

/* EDITOR WINDOW */

.openable_in_editor
{
	cursor: pointer;
}

.openable_in_editor:hover
{
	box-shadow:inset 0 0 10px lightgrey;
	transition: 0.2s;
}

.openable_in_editor:active
{
	box-shadow:inset 0 0 10px grey;
}

.opened_in_editor
{
	box-shadow:inset 0 0 5px black;
	
	background:lightgrey;
}

div.window_mask,
div.header_mask
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 100;
	
	background: rgba(0, 0, 0, 0.65);
}

div.header_mask
{
	border-radius: 0 0 8px 8px;
}

div.full_editor {
	position:fixed;
	right:0; 
	bottom:0;
	width: 60%;
	min-width: 690px;
	height: 50%;
	min-height: 360px;
	padding:0 5px 5px 5px;
	overflow: auto;
	
	z-index: 101;
	
	border-top:3px solid grey;
	border-left:3px solid grey;
	border-radius: 10px 0 0 0;
	
	background:white;
}

div.full_editor h2 {
	margin:0 0 5px 0;
	padding:5px;
	
	border-right:thin solid grey;
	border-bottom:thin solid grey;
	border-left:thin solid grey;
	
	border-radius:0 0 4px 4px;
	
	box-shadow:inset 0 0 5px lightgrey;
	
	background:white;
	
	font:large Georgia, serif;
	text-align:center;
	color:#782201;
}

div.full_editor h3 
{
    margin: 0 0 5px;
    padding: 5px 0;
	
	border-bottom: thin dashed lightgrey;
	
    font: medium Georgia, serif;
	color: #782201;
}

div.full_editor > div.full_editor_content
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 31px;
	overflow: auto;
	padding: 0 5px;
}

div.full_editor > div.close_buttons
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 26px;
	padding: 2px;
	
	border-top: solid 1px lightgrey;
	background-color: #F0F0F0;
	
	text-align: right;
}

div.full_editor,
div.frame-toolbox
{
	font-family: sans-serif;
	font-size: 13px;
}
